/*Carlos Arellano - 101339585*/

form {
  border: 2px solid green;
  padding: 2rem;
  width: 1222px;
  margin: auto;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

input {
  margin: 0.8rem;
}

div.top_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

div.bottom_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: flex-start;
}

.name_input, .email_input, .address1_input, .address2_input, .city_input, .province_input, .input_postal_code {
  width: 100%;
}


.province_input_label {
  margin-bottom: 0.8rem;
}

label {
  display: block;
  text-align: center;
  font-weight: bold;
}

input[type=checkbox] {
  margin-left: 30rem;
}

body {
  margin: 0;
  box-sizing: border-box;
}


.btn_submit {
  background-color: green;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  display: block;
  margin-left: 31.6rem;
  width: 15%;
}

.output {
  border: 2px solid green;
  margin: 4rem auto;
  padding: 1rem;
  text-align: left;
  font-weight: bold;
  width: 1260px;
  color: black;
}